body {
  color: #464646;
  font-size: 12px;
}
a {color: #21759b;}
.sidebar {
  width: 190px;  
  overflow: hidden;
  transition: width 0.1s ease-in-out;
}
.sidebar .panel-body {padding: 5px 15px;}

.sidebar .panel-body a, .sidebar .panel-body a:hover, .sidebar .panel-body a:visited, .sidebar .panel-body a.active {
  display: block;
  padding: 2px 0px;
} 

.sidebar .panel-body a.active { font-weight: bold; }

.col-md-10 h3 { margin-top: 10px; margin-bottom: 20px}

.panel-title {
  font-size: 14px;
}
.table {
  border: 1px solid #dddddd;
}
.table thead th:first-of-type {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
.table thead tr th {
  border-bottom-width: 1px;
}
.table thead tr{ 
  background-color: #f0f0f0;
}
a.active { font-weight: bold; }


footer {  
  padding-bottom: 20px;
  overflow: hidden;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
/*!
 * Datepicker for Bootstrap v3
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

.bootstrap-datetimepicker-widget {
  top: 0;
  left: 0;
  z-index: 3000;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget:before {
  position: absolute;
  top: -7px;
  left: 6px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.bootstrap-datetimepicker-widget:after {
  position: absolute;
  top: -6px;
  left: 7px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}

.bootstrap-datetimepicker-widget.pull-right:before {
  right: 6px;
  left: auto;
}

.bootstrap-datetimepicker-widget.pull-right:after {
  right: 7px;
  left: auto;
}

.bootstrap-datetimepicker-widget > ul {
  margin: 0;
  list-style-type: none;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
  width: 4px;
  padding: 0;
  margin: 0;
}

.bootstrap-datetimepicker-widget .datepicker > div {
  display: none;
}

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover {
  cursor: pointer;
  background: #eeeeee;
}

.bootstrap-datetimepicker-widget td.old,
.bootstrap-datetimepicker-widget td.new {
  color: #999999;
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #428bca;
}

.bootstrap-datetimepicker-widget td.disabled,
.bootstrap-datetimepicker-widget td.disabled:hover {
  color: #999999;
  cursor: not-allowed;
  background: none;
}

.bootstrap-datetimepicker-widget td span {
  display: block;
  float: left;
  width: 47px;
  height: 54px;
  margin: 2px;
  line-height: 54px;
  cursor: pointer;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget td span:hover {
  background: #eeeeee;
}

.bootstrap-datetimepicker-widget td span.active {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #428bca;
}

.bootstrap-datetimepicker-widget td span.old {
  color: #999999;
}

.bootstrap-datetimepicker-widget td span.disabled,
.bootstrap-datetimepicker-widget td span.disabled:hover {
  color: #999999;
  cursor: not-allowed;
  background: none;
}

.bootstrap-datetimepicker-widget th.switch {
  width: 145px;
}

.bootstrap-datetimepicker-widget th.next,
.bootstrap-datetimepicker-widget th.prev {
  font-size: 21px;
}

.bootstrap-datetimepicker-widget th.disabled,
.bootstrap-datetimepicker-widget th.disabled:hover {
  color: #999999;
  cursor: not-allowed;
  background: none;
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: #eeeeee;
}

.input-group.date .input-group-addon span {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget.left-oriented:before {
  right: 6px;
  left: auto;
}

.bootstrap-datetimepicker-widget.left-oriented:after {
  right: 7px;
  left: auto;
}

.bootstrap-datetimepicker-widget ul.list-unstyled li.in div.timepicker div.timepicker-picker table.table-condensed tbody > tr > td {
  padding: 0 !important;
}

.media-item .progress{
  height:22px;
  margin:6px 10px 0 0;
  width:450px;
  line-height:2em;
  padding:0;
  overflow:hidden;
  margin-bottom:2px;
  border:1px solid #d1d1d1;
  background:#fff;
  background-image:linear-gradient(bottom,#fff 0,#f7f7f7 100%);
  background-image:-o-linear-gradient(bottom,#fff 0,#f7f7f7 100%);
  background-image:-moz-linear-gradient(bottom,#fff 0,#f7f7f7 100%);
  background-image:-webkit-linear-gradient(bottom,#fff 0,#f7f7f7 100%);
  background-image:-ms-linear-gradient(bottom,#fff 0,#f7f7f7 100%);
  -webkit-border-radius:3px;border-radius:3px;
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);
  box-shadow:inset 0 0 3px rgba(0,0,0,0.1)
}
.media-item .bar{
  z-index:9;
  width:0;
  height:450px;
  margin-top:-24px;
  background-color:#83b4d8;
  background-image:linear-gradient(bottom,#72a7cf 0,#90c5ee 100%);
  background-image:-o-linear-gradient(bottom,#72a7cf 0,#90c5ee 100%);
  background-image:-moz-linear-gradient(bottom,#72a7cf 0,#90c5ee 100%);
  background-image:-webkit-linear-gradient(bottom,#72a7cf 0,#90c5ee 100%);
  background-image:-ms-linear-gradient(bottom,#72a7cf 0,#90c5ee 100%);
  -webkit-border-radius:3px;border-radius:3px;
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
  box-shadow:0 0 3px rgba(0,0,0,0.3)
}
.media-item .progress .percent {
  z-index: 10;
  position: relative;
  width: 450px;
  padding: 0 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6);
}