.comment-info {
	color: #76797c;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
}

footer {	
	padding-bottom: 20px;
	overflow: hidden;
}
.footer-links {
	margin: 10px 0;
	padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}